.Navbar {
    color: white;
    padding-top: 2%;
    padding-left: 80%;
}

.aboutme {
    padding: 0 20px 0px 20px;
    text-align: center;
    color: white;
    padding-top: 15%;
}

.aboutme .duar{
    color: #78C049;
}

* {
    background-color: #603838;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(92, 25, 25);
    width: 100%;
    color: white;
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(92, 25, 25);
    width: 100%;
    color: white;
    box-sizing: border-box;
}

.footer .content-1{
    float: left;
    margin: 10px 15px;
    background-color: rgb(92, 25, 25);
}

.footer .content-2{
    background-color: rgb(92, 25, 25);
    float: right;
    padding-right: 20px;
    margin: 10px 10px;
}

.footer .content-2 .fab{
    background-color: rgb(92, 25, 25);
    padding-left: 10px;
    font-size: 23px;
}

.footer .content-2 .fa-instagram{
    background: linear-gradient(to bottom, rgb(91, 3, 255), rgb(204, 0, 255), yellow);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.footer .content-2 .fa-twitter{
    color: rgb(10, 167, 230);
}


