*{
    padding: 0;
    margin: 0;
}

.overlay{
    position:fixed;
    display:none;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.5);
    z-index:2
}

.link{
    margin-top: 25px;
    font-weight: bold;
}

.sidebar{
    height: 100%;
    min-width: 350px;
    max-width: 350px;
    overflow: auto;
    background-color: black;
    position: fixed;
    z-index: 999;
    display: none;
}

.sidebar img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border-radius: 0%;
    margin-top: 30px;
}

.sidebar a{
    text-decoration: none;
    color: white;
}

.sidebar a p{
    margin-left: 30px;
}

.sidebar .line{
    display: flex;
    border: 1px solid white;
    width: 80%;
    margin: 10px 30px;
    align-content: center;
    justify-items: center;
}

.float-right{
    float:right;
}

.size-20{
    font-size: 20px;
}

.text-centered{
    text-align: center;
}

.navbar{
    position: relative;
    background-color: whitesmoke;
}

.navbar .bars{
    padding: 10px 8px;
    font-size: 25px;
    position: absolute;
    cursor: pointer;
}

.title{
    text-align: center;
    width: 100%;
    padding-top: 20px;
    background-color: whitesmoke;
}

.title .title_toko{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

th, td{
    text-align: center;
}

.cl-1{
    width: 5%;
}

.cl-2{
    width: 20%;
}

.cl-4, .cl-5{
    width: 10%;
}

.cl-3{
    width: 30%;
}

#tampil-laba .cl-3,
#tampil-laba .cl-4{
    width: 20%;
}

#tampil-pembelian,
#tampil-laba{
    display: none;
}

.print-btn{
    font-size: 30px;
    margin-top: 15px;
    cursor: pointer;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(92, 25, 25);
    width: 100%;
    color: white;
    box-sizing: border-box;
}

.footer .content-1{
    float: left;
    margin: 10px 15px;
}

.footer .content-2{
    float: right;
    padding-right: 20px;
    margin: 10px 10px;
}

.footer .content-2 .fab{
    padding-left: 10px;
    font-size: 23px;
}

.footer .content-2 .fa-instagram{
    background: linear-gradient(to bottom, rgb(91, 3, 255), rgb(204, 0, 255), yellow);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.footer .content-2 .fa-twitter{
    color: rgb(10, 167, 230);
}

@media (max-width: 380px){
    .footer .content-1,
    .footer .content-2{
        width: 100%;
    }

    .footer .content-2{
        float: left;
    }
}