*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.overlay{
    position:fixed;
    display:none;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.5);
    z-index:2
}

.sidebar{
    height: 100%;
    min-width: 350px;
    max-width: 350px;
    overflow: auto;
    background-color: black;
    position: fixed;
    z-index: 999;
    display: none;
}

.sidebar img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border-radius: 0%;
    margin-top: 30px;
}

.sidebar a{
    text-decoration: none;
    color: white;
}

.sidebar a p{
    margin-left: 30px;
}

.sidebar .line{
    display: flex;
    border: 1px solid white;
    width: 80%;
    margin: 10px 30px;
    align-content: center;
    justify-items: center;
}

.float-right{
    float:right;
}

.size-20{
    font-size: 20px;
}

.text-centered{
    text-align: center;
}

.navbar{
    position: relative;
    background-color: whitesmoke;
}

.navbar .bars{
    padding: 10px 8px;
    font-size: 25px;
    position: absolute;
    cursor: pointer;
}

.title{
    text-align: center;
    width: 100%;
    padding-top: 20px;
    background-color: whitesmoke;
}

.title .title_toko{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.link{
    margin-top: 25px;
    font-weight: bold;
}
  
.icon {
    padding: 15px 10px 10px 10px;
    background: #FFC312;
    color: black;
    min-width: 50px;
    text-align: center;
    cursor: pointer;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}
  
.input-field:focus {
    border: 2px solid #FFC312;
}

.column-1{
    width: 5%;
    text-align: center;
}

.column-2{
    width: 30%;
    text-align: center;
}

.column-3, .column-4, .column-5{
    width: 10%;
    text-align: center;
}

.column-6{
    width: 15%;
    text-align: center;
}

.column-6 i{
    font-size: 25px;
    cursor: pointer;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(92, 25, 25);
    width: 100%;
    color: white;
    box-sizing: border-box;
    z-index: 10;
}

.footer .content-1{
    float: left;
    margin: 10px 15px;
}

.footer .content-2{
    float: right;
    padding-right: 20px;
    margin: 10px 10px;
}

.footer .content-2 .fab{
    padding-left: 10px;
    font-size: 23px;
}

.footer .content-2 .fa-instagram{
    background: linear-gradient(to bottom, rgb(91, 3, 255), rgb(204, 0, 255), yellow);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.footer .content-2 .fa-twitter{
    color: rgb(10, 167, 230);
}

.modal-content{
    background-color: rgba(0,0,0,0.9);
}

.modal-title{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-align: center;
}

.modal-image img{
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 10px;
    margin-top: 10px;
}

.mt-10{
    margin-top: 100px;
}

.text-centered{
    text-align: center;
}

.sold{
    background-color: palevioletred;
    color: white;
    width: 60px;
    padding: 0 5px;
    border-radius: 2px;
}

.buy{
    width: 60px;
    padding: 0 5px;
    border-radius: 2px;
    border: .5px solid black;
}

.sold-title{
    float:left;
    margin-top: 5px;
    margin-left: 20px;
    text-align: center;
    width: 20%;
}

.sold-input{
    float: left;
    width: 60%;
}

.buy-title{
    float:left;
    margin-top: 5px;
    margin-left: 10px;
    text-align: center;
    width: 20%;
}

.buy-input{
    float: left;
    width: 70%;
}

.foto-profil{
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}

.width-100{
    width: 100%;
}

.border-whitesmoke{
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px grey;
}

.box-header{
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid whitesmoke;
    width: 100%;
}

.box-header a{
    text-decoration: none;
    padding: 0 20px;
    color: black;
    font-size: 15px;
}

.box-header .active{
    font-weight: bold;
    border-bottom: 2px solid blue;
    padding: 5px 0;
}

.text-green{
    color: green;
}

.mb-50{
    margin-bottom: 50px;
}


@media (max-width: 380px){
    .footer .content-1,
    .footer .content-2{
        width: 100%;
    }

    .footer .content-2{
        float: left;
    }

    .box-header a{
        display: flex;
        justify-content: center;
        padding: 5px;
    }

    .pagination{
        margin-bottom: 50px;
    }
}

@media (max-width: 1220px){
    .column-5{
        display: none;
    }
}

@media (max-width: 1000px){
    .column-4{
        display: none;
    }

    .buy,
    .sold{
        width: 70%;
        margin: 5px 0;
        padding: 5px;
    }
}

@media (max-width: 770px){
    .column-3{
        display: none;
    }
}

@media (max-width: 585px){
    .input-container{
        width: 80%;
        margin: 10px 0 0 50px;
    }

    .link{
        margin-left: 50px;
    }

    .modal-content{
        margin-top: 30px;
        height: 450px;
    }

    .sold-input{
        margin-top: 45px;
    }

    .buy-input{
        margin-top: 45px;
        width: 60%;
    }

    .buy-title{
        margin-top: 50px;
        margin-left: 0;
        width: 35%;
    }

    .sold-title{
        margin-top: 50px;
    }

    .modal{
        margin: 60px 50px 0px 50px;
    }

    .modal-image img{
        height: 100px;
    }

    .border-whitesmoke{
        margin: 0 20px;
    }
}
