*{
    font-family: 'Times New Roman', Times, serif;
}
/* 
body {
    background-color: #B3C7D6FF;
} */

.overlay{
    position:fixed;
    display:none;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.5);
    z-index:2
}

.sidebar{
    height: 100%;
    width: 350px;
    overflow: auto;
    background-color:#0063B2FF;
    position: fixed;
    z-index: 999;
    display: none;
}

.sidebar a{
    text-decoration: none;
    color: white;
}

.sidebar a p{
    margin-bottom: 10%;
    margin-left: 30px;
}

.mb-80{
    margin-bottom: 80px;
}

.sidebar .line{
    display: flex;
    border: 1px solid white;
    width: 80%;
    margin: 10px 30px;
    align-content: center;
    justify-items: center;
}

.float-right{
    float:right;
}

.size-20{
    font-size: 20px;
}

.text-centered{
    text-align: center;
}

/* .sidebar{
    height:100%;
    width:350px;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto;
    background: rgb(194, 160, 160);
    display: none;
}

.w3-sidebar {
    background-color: #581E1E;
} */


.bar-item{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0;
    cursor: pointer;
}

.navbar{
    position: relative;
    padding-top: 3%;
    background-color: #2460A7FF;
    padding-bottom: 3%;
}

.navbar .bars{
    padding: 10px 8px;
    font-size: 25px;
    position: absolute;
    cursor: pointer;
}

.title{
    float: none;
    text-align: center;
    width: 100%;
    padding: 0 70px;
}

.title .title_toko{
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.title a{
    cursor: pointer;
    text-decoration: none;
}

.title .jalan{
    font-size: 15px;
    color: #F99FC9FF;
}

p{
    margin: 0;
}

.background-white{
    background: whitesmoke;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #D9B48FFF;
    width: 100%;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
}

.text-25{
    font-size: 25px;
}

.footer .content-1{
    float: left;
    margin: 10px 15px;
}

.footer .content-2{
    float: right;
    padding-right: 20px;
    margin: 10px 10px;
}

.footer .content-2 .fab{
    padding-left: 10px;
    font-size: 23px;
}

.footer .content-2 .fa-instagram{
    background: linear-gradient(to bottom, rgb(91, 3, 255), rgb(204, 0, 255), yellow);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.footer .content-2 .fa-twitter{
    color: rgb(10, 167, 230);
}

.container {
    padding-top: 5%;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.link{
    margin-top: 25px;
    font-weight: bold;
}
  
.icon {
    padding: 15px 10px 10px 10px;
    background: #FFC312;
    color: black;
    min-width: 50px;
    text-align: center;
    cursor: pointer;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}
  
.input-field:focus {
    border: 2px solid #FFC312;
}

.data-barang{
    border: 1px solid #a3a2a2;
    box-shadow: 0 1px 2px 1px #a3a2a2;
    border-radius: 5px;
    padding: 5px 0;
}

.data-barang .product-bottom{
    margin-top: 5px;
}

.data-barang .product-bottom p .div1 {
    border: 2px solid #2e398b;
    border-radius: 5px;
    padding: 2px;
  }

@media (max-width: 650px){
    .title .title_toko{
        font-size: 20px;
    }
    
    .title .jalan{
        font-size: 13px;
    }
}

@media (max-width: 400px){
    .sidebar{
        width: 290px;
    }
}
