
.navbar {
    color: white;
    padding-top: 2%;
    padding-left: 80%;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-image: url('../img/background/toko.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.error{
    color: red;
}

.container{
    height: 100vh;
    padding: 0 50px;
}

.card{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    background-color: rgba(36, 36, 41, 0.8);
    padding: 0 20px 0px 20px;
}

.title{
    color: white;
    padding-top: 50px;
    font-size: 20px;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .icon {
    padding: 15px 10px 10px 10px;
    background: #FFC312;
    color: black;
    min-width: 50px;
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid #FFC312;
  }

.remember{
    color: white;
}
    
.remember input{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
    height: 50px;
}
    
.login_btn:hover{
    color: black;
    background-color: white;
}

.warning{
    color: red;
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(92, 25, 25);
    width: 100%;
    color: white;
    box-sizing: border-box;
}

.footer .content-1{
    float: left;
    margin: 10px 15px;
}

.footer .content-2{
    float: right;
    padding-right: 20px;
    margin: 10px 10px;
}

.footer .content-2 .fab{
    padding-left: 10px;
    font-size: 23px;
}

.footer .content-2 .fa-instagram{
    color: rgb(214, 51, 173);
}

.footer .content-2 .fa-twitter{
    color: rgb(10, 167, 230);
}

@media (max-width: 380px){
    .footer .content-1,
    .footer .content-2{
        width: 100%;
    }

    .footer .content-2{
        float: left;
    }
}